<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form class="" action="<%= students_path %>" method="post">
      <input type="text" name="first_name" value="">
      <input type="text" name="last_name" value="">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="submit" name="submit" value="Create Student">

    </form>
  </body>
</html>
